*-env
*~
.*-ghpages
.DS_Store
.cache/
.emacs.desktop*
.lsp-session-*
.sconsign.dblite
__pycache__
abbrev_defs
ac-comphist.dat
auto-save-list
bookmarks
custom.el
el-get/
eln-cache/
elpa
eshell/
ghp-import.log
html/
ielm/
image-dired
inactive.el
mspyls/
network-security.data
projectile-bookmarks.eld
projects
publish.log
recentf
src/
straight/
tramp
transient/
undohist/
url
var/
